{% include 'include/header.html' %} 
{% include 'include/nav.html' %}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <a
        href="#"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
      >
    </div>
  
    <!-- Content Row -->
    {% for message in messages %}
          
    {% if message %}
    <div class="alert alert-{{message.tags}} mt-2 mb-4  m-auto" style="width: 600px;" role="alert">
     {{message}}
    </div>
      
    {% endif %}
    {% endfor %}
{% block content %}



{% endblock content %}

<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
      </div>
    </div>

    <!-- Pie Chart -->
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
      <!-- Color System -->
    </div>
  </div>
</div>
<!-- /.container-fluid -->

{% comment %} {% include 'include/footer.html' %} {% endcomment %}
